.conatct-info  i {
    font-size: 33px;
}
.link-sec:hover {
    color: var(--primary-color);
}
.link-sec{
    color: var(--text-base-gray-color);
}

.banner-sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
  }
.banner-sec{
margin-top: -65px;
}
  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--text-white-color) !important;
  }

  .breadcrumb-item a:hover {
    text-decoration: underline;
  }