:root {
  --primary-color: #3A3285;
  --accent-color: #FF8D28;
  --bg-light-color: #EFDAC7;
  --text-muted-color: #757575;
  --text-white-color: #fff;
  --dark-color: #202124;
  --deep-maroon: #170006;
  --grey-dark: #282828;
  --text-dark-gray-color:#35373A;
  --base-gray:#575757;
  --off-white:#F5F2EC;
  --light-blue:#EDEDED;
}
